.social-login{
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 40px;
    margin-top: 30px;
    .social__btn--github{
        background-color: #24883b !important;
        color:white !important;
        margin-bottom: 10px !important;
    }
    .social__btn--kakao{
        background-color: #fae100 !important;
        color:white !important;
    }
}