extends base

block content
    form(method="POST")
        input(name="name",value=loggedInUser.name, type="text", required, placeholder="Name")
        input(name="email", value=loggedInUser.email,type="email", required, placeholder="Email")
        input(name="username", value=loggedInUser.username,type="text", required, placeholder="Username")
        input(name="location", value=loggedInUser.location, type="text", required, placeholder="Location")
        input(type="submit", value="Update Profile")